<!-- index.html -->
{% extends "base.html" %}

{% block title %}About Us - My Site{% endblock %}

{% block content %}
    <h2>Capture the Flag Victim Machines</h2>
    <p>Manage your target VM</p>

    <form method="POST" action="/spinup">
        <input class="btn btn-primary" type="submit" value="New VM">
    </form>
    
    <div class="container-fluid">
        
        <div class="row my-3">
            <!-- <div class="col-3"></div> -->
             {% for container in containers %}
            <div class="col-4">
                {% with container=container %}
                    {% include 'components/victim.html' %}
                {% endwith %}
            </div>
             {% endfor %}
            <!-- <div class="col-3"></div> -->
        </div>
        
       

    </div>
    
{% endblock %}