<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item text-center">
          {% if navtab == "home" or navtab == "challenges" %}
            <a class="nav-link active text-bg-secondary rounded" aria-current="page" href="{{url_for('main.index')}}">Home</a>
          {% else %}
            <a class="nav-link" aria-current="page" href="{{url_for('main.index')}}">Home</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if navtab == "machines" %}
            <a class="nav-link active text-bg-secondary rounded" href="{{url_for('main.machines')}}">Machines</a>
          {% else %}
            <a class="nav-link disabled" href="{{url_for('main.machines')}}">Machines</a>
          {% endif %}
        </li>
        <li class="nav-item">
          {% if navtab == "walkthru" %}
            <a class="nav-link active text-bg-secondary rounded" href="{{url_for('main.walkthru')}}">Walkthru</a>
          {% else %}
            <a class="nav-link disabled" href="{{url_for('main.walkthru')}}">Walkthru</a>
          {% endif %}
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://linktr.ee/stryker2k2">Author</a></li>
            <li><a class="dropdown-item" href="https://www.blacklanternsecurity.com">Company</a></li>
            <li><a class="dropdown-item" href="https://www.gamehacking.gg/">Game Hacking</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>